# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Project specifics
canvas_output.png
file.txt